In [2]:
import pandas as pd

In [3]:
employees_df = pd.read_csv("data/cbp13co.txt", dtype={'fipstate': object, 'fipscty': object})
codes_df = pd.read_csv("data/georef12.txt", dtype={'fipstate': object, 'fipscty': object})
land_area_df = pd.read_csv('data/DEC_00_SF1_GCTPH1.US05PR.csv', dtype={'GCT_STUB.target-geo-id2': object})

In [106]:
print employees_df

        fipstate fipscty   naics empflag emp_nf    emp qp1_nf    qp1 ap_nf  \
0             01     001  ------     NaN      G  10120      G  71267     G
1             01     001  11----     NaN      G     33      G    277     G
2             01     001  113///     NaN      G     33      G    277     G
3             01     001  1133//     NaN      G     33      G    277     G
4             01     001  11331/     NaN      G     33      G    277     G
5             01     001  113310     NaN      G     33      G    277     G
6             01     001  21----       B      D      0      D      0     D
7             01     001  212///       B      D      0      D      0     D
8             01     001  2123//       B      D      0      D      0     D
9             01     001  21231/       B      D      0      D      0     D
10            01     001  212319       B      D      0      D      0     D
11            01     001  21232/       A      D      0      D      0     D
12            01     001  212321       A      D      0      D      0     D
13            01     001  22----     NaN      H    198      H   4376     H
14            01     001  221///     NaN      H    198      H   4376     H
15            01     001  2211//     NaN      H    189      H   4293     H
16            01     001  22111/       B      D      0      D      0     D
17            01     001  221112       B      D      0      D      0     D
18            01     001  22112/       C      D      0      D      0     D
19            01     001  221122       C      D      0      D      0     D
20            01     001  2213//       A      D      0      D      0     D
21            01     001  22131/       A      D      0      D      0     D
22            01     001  221310       A      D      0      D      0     D
23            01     001  23----     NaN      G    391      G   2984     G
24            01     001  236///     NaN      G     94      G    623     G
25            01     001  2361//       B      S      0      H    170     H
26            01     001  23611/       B      S      0      H    170     H
27            01     001  236115     NaN      G     15      G     80     H
28            01     001  236117       A      D      0      D      0     D
29            01     001  236118       A      S      0      S      0     H
...          ...     ...     ...     ...    ...    ...    ...    ...   ...
2126853       56     999  56161/       A      D      0      D      0     D
2126854       56     999  561611       A      D      0      D      0     D
2126855       56     999  5617//       A      D      0      D      0     D
2126856       56     999  56172/       A      D      0      D      0     D
2126857       56     999  561720       A      D      0      D      0     D
2126858       56     999  61----       A      D      0      D      0     D
2126859       56     999  611///       A      D      0      D      0     D
2126860       56     999  6117//       A      D      0      D      0     D
2126861       56     999  61171/       A      D      0      D      0     D
2126862       56     999  611710       A      D      0      D      0     D
2126863       56     999  62----     NaN      G     13      G    100     G
2126864       56     999  621///     NaN      G     13      G    100     G
2126865       56     999  6213//       A      D      0      D      0     D
2126866       56     999  62134/       A      D      0      D      0     D
2126867       56     999  621340       A      D      0      D      0     D
2126868       56     999  6214//       A      D      0      D      0     D
2126869       56     999  62142/       A      D      0      D      0     D
2126870       56     999  621420       A      D      0      D      0     D
2126871       56     999  6216//       A      D      0      D      0     D
2126872       56     999  62161/       A      D      0      D      0     D
2126873       56     999  621610       A      D      0      D      0     D
2126874       56     999  81----       A      D      0      D      0     D
2126875       56     999  812///       A      D      0      D      0     D
2126876       56     999  8129//       A      D      0      D      0     D
2126877       56     999  81299/       A      D      0      D      0     D
2126878       56     999  812990       A      D      0      D      0     D
2126879       56     999  813///       A      D      0      D      0     D
2126880       56     999  8133//       A      D      0      D      0     D
2126881       56     999  81331/       A      D      0      D      0     D
2126882       56     999  813312       A      D      0      D      0     D

             ap   ...    n100_249  n250_499  n500_999  n1000  n1000_1  \
0        291673   ...           8         1         1      0        0
1          1480   ...           0         0         0      0        0
2          1480   ...           0         0         0      0        0
3          1480   ...           0         0         0      0        0
4          1480   ...           0         0         0      0        0
5          1480   ...           0         0         0      0        0
6             0   ...           0         0         0      0        0
7             0   ...           0         0         0      0        0
8             0   ...           0         0         0      0        0
9             0   ...           0         0         0      0        0
10            0   ...           0         0         0      0        0
11            0   ...           0         0         0      0        0
12            0   ...           0         0         0      0        0
13        17223   ...           0         0         0      0        0
14        17223   ...           0         0         0      0        0
15        16889   ...           0         0         0      0        0
16            0   ...           0         0         0      0        0
17            0   ...           0         0         0      0        0
18            0   ...           0         0         0      0        0
19            0   ...           0         0         0      0        0
20            0   ...           0         0         0      0        0
21            0   ...           0         0         0      0        0
22            0   ...           0         0         0      0        0
23        12776   ...           0         0         0      0        0
24         2775   ...           0         0         0      0        0
25          702   ...           0         0         0      0        0
26          702   ...           0         0         0      0        0
27          392   ...           0         0         0      0        0
28            0   ...           0         0         0      0        0
29          279   ...           0         0         0      0        0
...         ...   ...         ...       ...       ...    ...      ...
2126853       0   ...           0         0         0      0        0
2126854       0   ...           0         0         0      0        0
2126855       0   ...           0         0         0      0        0
2126856       0   ...           0         0         0      0        0
2126857       0   ...           0         0         0      0        0
2126858       0   ...           0         0         0      0        0
2126859       0   ...           0         0         0      0        0
2126860       0   ...           0         0         0      0        0
2126861       0   ...           0         0         0      0        0
2126862       0   ...           0         0         0      0        0
2126863     481   ...           0         0         0      0        0
2126864     481   ...           0         0         0      0        0
2126865       0   ...           0         0         0      0        0
2126866       0   ...           0         0         0      0        0
2126867       0   ...           0         0         0      0        0
2126868       0   ...           0         0         0      0        0
2126869       0   ...           0         0         0      0        0
2126870       0   ...           0         0         0      0        0
2126871       0   ...           0         0         0      0        0
2126872       0   ...           0         0         0      0        0
2126873       0   ...           0         0         0      0        0
2126874       0   ...           0         0         0      0        0
2126875       0   ...           0         0         0      0        0
2126876       0   ...           0         0         0      0        0
2126877       0   ...           0         0         0      0        0
2126878       0   ...           0         0         0      0        0
2126879       0   ...           0         0         0      0        0
2126880       0   ...           0         0         0      0        0
2126881       0   ...           0         0         0      0        0
2126882       0   ...           0         0         0      0        0

         n1000_2  n1000_3  n1000_4  censtate  cencty
0              0        0        0        63       1
1              0        0        0        63       1
2              0        0        0        63       1
3              0        0        0        63       1
4              0        0        0        63       1
5              0        0        0        63       1
6              0        0        0        63       1
7              0        0        0        63       1
8              0        0        0        63       1
9              0        0        0        63       1
10             0        0        0        63       1
11             0        0        0        63       1
12             0        0        0        63       1
13             0        0        0        63       1
14             0        0        0        63       1
15             0        0        0        63       1
16             0        0        0        63       1
17             0        0        0        63       1
18             0        0        0        63       1
19             0        0        0        63       1
20             0        0        0        63       1
21             0        0        0        63       1
22             0        0        0        63       1
23             0        0        0        63       1
24             0        0        0        63       1
25             0        0        0        63       1
26             0        0        0        63       1
27             0        0        0        63       1
28             0        0        0        63       1
29             0        0        0        63       1
...          ...      ...      ...       ...     ...
2126853        0        0        0        83     999
2126854        0        0        0        83     999
2126855        0        0        0        83     999
2126856        0        0        0        83     999
2126857        0        0        0        83     999
2126858        0        0        0        83     999
2126859        0        0        0        83     999
2126860        0        0        0        83     999
2126861        0        0        0        83     999
2126862        0        0        0        83     999
2126863        0        0        0        83     999
2126864        0        0        0        83     999
2126865        0        0        0        83     999
2126866        0        0        0        83     999
2126867        0        0        0        83     999
2126868        0        0        0        83     999
2126869        0        0        0        83     999
2126870        0        0        0        83     999
2126871        0        0        0        83     999
2126872        0        0        0        83     999
2126873        0        0        0        83     999
2126874        0        0        0        83     999
2126875        0        0        0        83     999
2126876        0        0        0        83     999
2126877        0        0        0        83     999
2126878        0        0        0        83     999
2126879        0        0        0        83     999
2126880        0        0        0        83     999
2126881        0        0        0        83     999
2126882        0        0        0        83     999

[2126883 rows x 26 columns]

In [11]:
# want the total over all naics codes (where naics column = '------')
# excluding statewide totals (where county code = 999)
emp_all_df = employees_df[(employees_df['naics'] == '------') & (employees_df['fipscty'] != '999')].copy()
emp_all_df.shape

(3142, 26)

In [9]:
# also want the name of the county and state
print codes_df[:5]
with_names_df = pd.merge(emp_all_df, codes_df, on=['fipstate', 'fipscty'], how='inner')

  fipstate fipscty             ctyname
0       01     001  Autauga County, AL
1       01     003  Baldwin County, AL
2       01     005  Barbour County, AL
3       01     007     Bibb County, AL
4       01     009   Blount County, AL

In [70]:
with_names_df[:5]

,fipstate,fipscty,naics,empflag,emp_nf,emp,qp1_nf,qp1,ap_nf,ap,...,n250_499,n500_999,n1000,n1000_1,n1000_2,n1000_3,n1000_4,censtate,cencty,ctyname
0,01,001,------,NaN,G,10120,G,71267,G,291673,...,1,1,0,0,0,0,0,63,1,"Autauga County, AL"
1,01,003,------,NaN,G,54988,G,385826,G,1668968,...,10,5,1,1,0,0,0,63,3,"Baldwin County, AL"
2,01,005,------,NaN,G,6611,H,53116,H,212757,...,3,0,1,1,0,0,0,63,5,"Barbour County, AL"
3,01,007,------,NaN,G,3145,G,27008,H,114742,...,0,1,0,0,0,0,0,63,7,"Bibb County, AL"
4,01,009,------,NaN,G,6798,G,49518,G,197060,...,1,1,0,0,0,0,0,63,9,"Blount County, AL"

In [71]:
# combine fip codes to be 5 digit code for topojson compatibility
with_names_df['id'] = with_names_df['fipstate'] + with_names_df['fipscty']

In [72]:
# only need total number of businesses with 50-99 employees
sb_df = with_names_df[['id', 'ctyname', 'n50_99']].copy()

In [73]:
sb_df[:5]

      id             ctyname  n50_99
0  01001  Autauga County, AL      34
1  01003  Baldwin County, AL     115
2  01005  Barbour County, AL       8
3  01007     Bibb County, AL       4
4  01009   Blount County, AL      12

In [75]:
# calculate density using county land area

In [96]:
land_area_df[:5]

,GEO.id,GEO.id2,GEO.display-label,GCT_STUB.target-geo-id,GCT_STUB.target-geo-id2,GCT_STUB.display-label,GCT_STUB.display-label.1,HC01,HC02,HC04,HC05,HC06,HC08,HC09
0,0100000US,NaN,United States,0100000US,NaN,United States,United States,281421906,115904641,3794083.06,256644.62,3537438.44,79.6,32.8
1,0100000US,NaN,United States,0400000US01,01,United States - Alabama,Alabama,4447100,1963711,52419.02,1675.01,50744.00,87.6,38.7
2,0100000US,NaN,United States,0500000US01001,01001,United States - Alabama - Autauga County,Autauga County,43671,17662,604.45,8.48,595.97,73.3,29.6
3,0100000US,NaN,United States,0500000US01003,01003,United States - Alabama - Baldwin County,Baldwin County,140415,74285,2026.93,430.58,1596.35,88.0,46.5
4,0100000US,NaN,United States,0500000US01005,01005,United States - Alabama - Barbour County,Barbour County,29038,12461,904.52,19.61,884.90,32.8,14.1

In [97]:
# total land area is column HC04
area_df = land_area_df.rename(columns={'GCT_STUB.target-geo-id2':'id', 'HC06':'area'})[['id', 'area']]

In [98]:
# left join on fips id, convert to int
sb_area_df = pd.merge(sb_df, area_df, on=['id'], how='left')
sb_area_df['id'] = sb_area_df['id'].apply(int)

In [99]:
# calculate density
sb_area_df['density'] = sb_area_df['n50_99'] / sb_area_df['area']

In [100]:
sb_density_df = sb_area_df[['id', 'ctyname', 'density', 'n50_99']]
sb_density_df[:5]

     id             ctyname   density  n50_99
0  1001  Autauga County, AL  0.057050      34
1  1003  Baldwin County, AL  0.072039     115
2  1005  Barbour County, AL  0.009041       8
3  1007     Bibb County, AL  0.006420       4
4  1009   Blount County, AL  0.018588      12

In [101]:
sb_density_df.to_csv('data/sbdata.csv', index=False)

In [103]:
sb_density_df['density'].describe()

count    3136.000000
mean        0.226251
std         2.776954
min         0.000000
25%         0.005515
50%         0.017610
75%         0.062110
max       147.996516
Name: density, dtype: float64